
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
  html{
    font-family: 'Poppins', sans-serif;
  }
body{
  background-color: black;
  color: aliceblue;padding: 0;
  margin: 0;
}
button{
  cursor: pointer;
  font-family: inherit;
  color: #8E3D4C;
  background-color: orange;
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  transition: 270ms;
}
button:hover{
  transform: scale(1.1);
}
h1{
  text-align: center;
  text-shadow: 2px 2px 0 orange,
              -2px -2px 0 orange,
              -2px 2px 0 orange,
               2px -2px 0 orange;
}
p{
  text-align: center;
  background-color: #fff9;
  color: black;
  padding: 15px;
  border-radius: 15px;
}
.app{
  min-height: 100vh;
  background-image: url("../assets/fondo1.png");
  background-position: center;
  background-size: cover;
}
.container{
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}
.phraseAutor{
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}